In [42]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [43]:
df_user = pd.read_csv('Raw\google_review_ratings - Norm2.csv')

In [44]:
df_user.head(10)

,User,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya
0,User 1,1.815,1.615,1.248,0.0,1.6250,0.0,1.46,3.370
1,User 2,1.815,1.620,1.248,0.0,1.6975,0.0,1.46,3.370
2,User 3,1.815,1.615,1.248,0.0,1.6925,0.0,1.46,3.370
3,User 4,1.815,1.615,1.248,0.0,1.6200,0.0,1.46,3.370
4,User 5,1.815,1.615,1.248,0.0,1.6925,0.0,1.46,3.370
5,User 6,1.815,1.620,1.248,0.0,1.6900,0.0,1.46,3.370
6,User 7,1.815,1.615,1.244,0.0,1.6200,0.0,1.46,3.375
7,User 8,1.815,1.620,1.244,0.0,1.6900,0.0,1.46,3.370
8,User 9,1.820,1.615,1.238,0.0,1.5650,0.0,1.46,2.875
9,User 10,1.820,1.610,1.138,0.0,1.4975,0.0,1.46,2.870

In [45]:
scaler = MinMaxScaler()
df_user_norm = pd.DataFrame(scaler.fit_transform(df_user.iloc[:, 1:]), columns=df_user.columns[1:])
df_user_norm.insert(0, 'User', df_user['User'])

In [46]:
df_user_norm.head(10)

,User,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya
0,User 1,0.363,0.260109,0.213392,0.0,0.226027,0.0,0.189003,0.587863
1,User 2,0.363,0.261202,0.213392,0.0,0.248097,0.0,0.189003,0.587863
2,User 3,0.363,0.260109,0.213392,0.0,0.246575,0.0,0.189003,0.587863
3,User 4,0.363,0.260109,0.213392,0.0,0.224505,0.0,0.189003,0.587863
4,User 5,0.363,0.260109,0.213392,0.0,0.246575,0.0,0.189003,0.587863
5,User 6,0.363,0.261202,0.213392,0.0,0.245814,0.0,0.189003,0.587863
6,User 7,0.363,0.260109,0.212140,0.0,0.224505,0.0,0.189003,0.589128
7,User 8,0.363,0.261202,0.212140,0.0,0.245814,0.0,0.189003,0.587863
8,User 9,0.364,0.260109,0.210263,0.0,0.207763,0.0,0.189003,0.462705
9,User 10,0.364,0.259016,0.178974,0.0,0.187215,0.0,0.189003,0.461441

In [47]:
df_user_norm.to_csv('user_preference.csv', index=False)