In [177]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_extraction.text import CountVectorizer
import pickle as pkl

In [178]:
df_tourism_rating = pd.read_csv('../../Dataset/Tourism Rating/raw/tourism_rating.csv')
df_tourism  = pd.read_csv('../../Dataset/Tourism/tourism_encoded.csv')
df_user = pd.read_csv('../../Dataset/User/raw/user.csv')

In [179]:
df_tourism.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,...,_1,Rating_Count,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Sejarah Edukasi,Jakarta,20000,46,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924,...,1,18,0,0,0,0,0,0,1,0
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...","Sejarah Edukasi,Seni Budaya,Kuliner",Jakarta,0,46,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448,...,2,25,0,0,1,0,0,0,1,1
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,"Rekreasi,Hiburan",Jakarta,270000,46,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124,...,3,19,0,1,0,0,1,0,0,0
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,"Sejarah Edukasi,Seni Budaya,Rekreasi",Jakarta,10000,45,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-63024459,...,4,21,0,0,0,0,1,0,1,1
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,"Rekreasi,Olahraga",Jakarta,94000,45,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-612419,...,5,24,0,0,0,1,1,0,0,0

In [180]:
df_tourism['Category'] = df_tourism['Category'].apply(lambda x: x.replace(',', ' '))
df_tourism['Tags'] = df_tourism['Description'] + ' ' + df_tourism['Category'] + ' ' + df_tourism['City']

In [181]:
df_tourism.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,...,Rating_Count,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya,Tags
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Sejarah Edukasi,Jakarta,20000,46,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924,...,18,0,0,0,0,0,0,1,0,Monumen Nasional atau yang populer disingkat d...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Sejarah Edukasi Seni Budaya Kuliner,Jakarta,0,46,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448,...,25,0,0,1,0,0,0,1,1,"Kota tua di Jakarta, yang juga bernama Kota Tu..."
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Rekreasi Hiburan,Jakarta,270000,46,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124,...,19,0,1,0,0,1,0,0,0,Dunia Fantasi atau disebut juga Dufan adalah t...
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Sejarah Edukasi Seni Budaya Rekreasi,Jakarta,10000,45,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-63024459,...,21,0,0,0,0,1,0,1,1,Taman Mini Indonesia Indah merupakan suatu kaw...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Rekreasi Olahraga,Jakarta,94000,45,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-612419,...,24,0,0,0,1,1,0,0,0,Atlantis Water Adventure atau dikenal dengan A...

In [182]:
new_df_tourism = df_tourism[['Place_Id', 'Place_Name', 'Tags']]
new_df_tourism.head()

,Place_Id,Place_Name,Tags
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu..."
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...

In [183]:
stopwords = pd.read_csv('../../Dataset/Stop Words/stopwordbahasa.csv')
stopwords_list = stopwords.iloc[:,0].tolist()

In [184]:
cv = CountVectorizer(max_features = 1000, lowercase=True, stop_words=stopwords_list)
vectors = cv.fit_transform(new_df_tourism['Tags']).toarray()
vectors.shape

c:\Users\ACER\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\feature_extraction\text.py:408: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['baiknya', 'berkali', 'kali', 'kurangnya', 'mata', 'olah', 'sekurang', 'setidak', 'tama', 'tidaknya'] not in stop_words.
  warnings.warn(

(437, 1000)

In [185]:
cv.get_feature_names_out()

array(['00', '000', '10', '11', '12', '13', '14', '15', '150', '16', '17',
       '18', '19', '1945', '1973', '1980', '20', '200', '2000', '2001',
       '2002', '2003', '2004', '2006', '2010', '2014', '2015', '2016',
       '2017', '2018', '2019', '23', '25', '27', '29', '30', '40', '45',
       '50', '500', '60', '600', '70', '_x000d_', 'abad', 'abang',
       'acara', 'ada', 'administrasi', 'administratif', 'afrika', 'agama',
       'agro', 'agung', 'agustus', 'ahmad', 'air', 'airnya', 'akibat',
       'akses', 'aktivitas', 'al', 'alam', 'alami', 'alamnya', 'alat',
       'aliran', 'alternatif', 'alun', 'ambarawa', 'an', 'anak', 'ancol',
       'aneka', 'anggrek', 'angin', 'angkatan', 'angklung', 'api',
       'april', 'arah', 'ardilla', 'area', 'areal', 'arena', 'arsitek',
       'arsitektur', 'art', 'asia', 'asing', 'asisten', 'asli', 'asri',
       'atap', 'atasnya', 'atlantis', 'atraksi', 'babakan', 'badak',
       'bagus', 'bahan', 'bahasa', 'balai', 'bali', 'bambu', 'bandung',
       'bandungan', 'banget', 'bangsa', 'bangunan', 'bangunannya', 'bank',
       'banteng', 'bantul', 'barang', 'barat', 'baron', 'batavia',
       'batik', 'batu', 'batuan', 'bebatuan', 'bekas', 'belanda',
       'belanja', 'belerang', 'benda', 'bening', 'benteng', 'bentuk',
       'beragam', 'berasal', 'berbasis', 'berbeda', 'berbentuk',
       'berdasarkan', 'berdekatan', 'berdiri', 'berenang', 'berfoto',
       'berfungsi', 'berhasil', 'berhati', 'berisi', 'berjalan',
       'berjarak', 'berkemah', 'berkonsep', 'berkunjung', 'berlibur',
       'berlokasi', 'bermain', 'bernama', 'bernuansa', 'beroperasi',
       'bersantai', 'bersejarah', 'bersifat', 'bersih', 'bertepatan',
       'berubah', 'berukuran', 'berwarna', 'berwisata', 'beserta',
       'betawi', 'biaya', 'bidang', 'binatang', 'bintang', 'biota',
       'biru', 'blok', 'borobudur', 'bosan', 'bosscha', 'boulevard',
       'buah', 'buatan', 'budaya', 'buddha', 'buka', 'bukit', 'buku',
       'bumi', 'bunga', 'bus', 'butiran', 'cafe', 'cagar', 'camping',
       'candhi', 'candi', 'cantik', 'cemara', 'cerita', 'cerme', 'cheng',
       'china', 'cibubur', 'cibugary', 'cikapundung', 'cilacap', 'cimahi',
       'cipta', 'ciri', 'city', 'ciwidey', 'cocok', 'code', 'congot',
       'cuaca', 'curam', 'curug', 'daarut', 'daerah', 'dago', 'dalamnya',
       'danau', 'dasar', 'dataran', 'daya', 'de', 'delapan', 'departemen',
       'depok', 'derajat', 'deretan', 'desa', 'desain', 'desember',
       'destinasi', 'dewa', 'dewasa', 'dewi', 'diambil', 'dibangun',
       'dibeli', 'dibuka', 'didirikan', 'didominasi', 'diganti',
       'diharapkan', 'dihiasi', 'dihuni', 'dijadikan', 'dijual',
       'dikelilingi', 'dikelola', 'dikembangkan', 'dikenal', 'dikunjungi',
       'dilengkapi', 'dimana', 'dimiliki', 'diminati', 'dinamakan',
       'dinas', 'dinding', 'dingin', 'dinikmati', 'dipakai', 'dipenuhi',
       'dirancang', 'diresmikan', 'disana', 'disediakan', 'disingkat',
       'disuguhkan', 'ditanam', 'ditawarkan', 'ditemukan', 'ditutup',
       'djuanda', 'dki', 'dlingo', 'dr', 'drini', 'duduk', 'dulunya',
       'dunia', 'dusun', 'edukasi', 'edukatif', 'eksotis', 'emas', 'enam',
       'era', 'eropa', 'farm', 'fasilitas', 'favorit', 'film', 'foto',
       'fungsi', 'gajah', 'galeri', 'gamplong', 'garden', 'gardu',
       'garis', 'gaya', 'gazebo', 'gedong', 'gedung', 'gembira',
       'genteng', 'geologi', 'gerbang', 'gereja', 'glodok', 'goa',
       'grand', 'gratis', 'gua', 'gubernur', 'gumuk', 'gunung',
       'gunungkidul', 'ha', 'hadiningrat', 'hadir', 'haji', 'halaman',
       'halnya', 'hamparan', 'hanacaraka', 'harga', 'hasil', 'hati',
       'hektar', 'hektare', 'heran', 'hewan', 'hiburan', 'hidup', 'hijau',
       'hindia', 'hindu', 'ho', 'hotel', 'hutan', 'ibadah', 'ibukota',
       'ii', 'ikan', 'ikon', 'ilmu', 'im', 'imogiri', 'impian', 'indah',
       'indonesia', 'indrayanti', 'informasi', 'inggris', 'instagramable',
       'internasional', 'ir', 'islam', 'istana', 'istilah', 'istimewa',
       'istiqlal', 'itb', 'jakarta', 'jalan', 'jalur', 'jam', 'jamaah',
       'jamur', 'jarak', 'jarang', 'jasa', 'jatuh', 'jawa', 'jembatan',
       'jenderal', 'jenis', 'jepang', 'jernih', 'jin', 'jl', 'jogja',
       'joglo', 'juli', 'jungwok', 'juni', 'juta', 'kabupaten', 'kaca',
       'kadipaten', 'kafe', 'kain', 'kaki', 'kalah', 'kalangan', 'kali',
       'kaliurang', 'kamar', 'kamil', 'kampoeng', 'kampung', 'kampus',
       'kantor', 'kapal', 'karang', 'karya', 'katedral', 'kaum', 'kawah',
       'kawasan', 'kayu', 'keberadaan', 'kebon', 'kebudayaan', 'kebun',
       'kec', 'kecamatan', 'kediwung', 'kegiatan', 'kehidupan',
       'keindahan', 'kekinian', 'kelebihan', 'kelenteng', 'kelor',
       'keluarga', 'kelurahan', 'kemerdekaan', 'kendaraan', 'kenjeran',
       'kental', 'kepala', 'kepulauan', 'kerajaan', 'kerajinan',
       'keramik', 'kerang', 'kerap', 'keraton', 'kereta', 'kerja',
       'kesehatan', 'kesejahteraan', 'kesenian', 'kesultanan', 'ketiga',
       'ketinggian', 'keunikan', 'khas', 'khawatir', 'khusus', 'kidul',
       'kilometer', 'kiri', 'klenteng', 'km', 'kolam', 'koleksi',
       'kolonial', 'kompleks', 'konferensi', 'konon', 'konsep',
       'konservasi', 'kota', 'kotamadya', 'kraton', 'kreatif', 'kubah',
       'kuda', 'kue', 'kuliner', 'kulon', 'kumuh', 'kunang', 'kunjungan',
       'kuno', 'kupu', 'lahan', 'lampu', 'land', 'langit', 'langsung',
       'lansia', 'lantai', 'lapangan', 'latar', 'laut', 'lautan', 'lava',
       'layak', 'layaknya', 'layang', 'legenda', 'lembah', 'lembang',
       'lengkap', 'lepen', 'lereng', 'letaknya', 'libur', 'liburan',
       'lingkungan', 'lintang', 'lintas', 'loka', 'lokal', 'lokasi',
       'lokasinya', 'lor', 'lorong', 'luas', 'lukisan', 'm2', 'makan',
       'makanan', 'malam', 'malioboro', 'mancanegara', 'mancur', 'mandi',
       'manglayang', 'mangrove', 'mangunan', 'mantan', 'manusia', 'maret',
       'maria', 'maribaya', 'marina', 'market', 'maron', 'masehi',
       'masjid', 'masuk', 'masyarakat', 'mata', 'matahari', 'mataram',
       'mdpl', 'media', 'mei', 'meliputi', 'memadukan', 'memamerkan',
       'memancing', 'memanfaatkan', 'memasuki', 'membangun', 'membawa',
       'membentang', 'membentuk', 'memiliki', 'mempelajari',
       'memperingati', 'mempesona', 'menakjubkan', 'menambah',
       'menampilkan', 'menampung', 'menara', 'menari', 'menarik',
       'menawarkan', 'mencapai', 'mencari', 'menciptakan', 'mencoba',
       'menempati', 'menemukan', 'menenangkan', 'mengadakan', 'mengalami',
       'mengalir', 'mengenang', 'menghabiskan', 'menghadap',
       'menghadirkan', 'menghiasi', 'mengikuti', 'mengunjungi',
       'mengusung', 'menikmati', 'menit', 'menjadikan', 'menjual',
       'menjulang', 'menteng', 'menteri', 'menyajikan', 'menyaksikan',
       'menyebutnya', 'menyediakan', 'menyegarkan', 'menyenangkan',
       'menyerupai', 'menyimpan', 'menyuguhkan', 'merah', 'merapi',
       'merasakan', 'merdeka', 'meter', 'mewah', 'milik', 'minggu',
       'mini', 'miniatur', 'modern', 'monumen', 'motor', 'muara', 'muda',
       'mudah', 'muhammad', 'murah', 'museum', 'musik', 'musim', 'muslim',
       'mÂ²', 'nama', 'namanya', 'nasi', 'nasional', 'ndi', 'negara',
       'negeri', 'nelayan', 'ngayogyakarta', 'ngedung', 'nglinggo',
       'nike', 'nilai', 'nmonumen', 'nmuseum', 'no', 'nomor', 'nongkrong',
       'november', 'npada', 'npantai', 'ntaman', 'nuansa', 'nuarta',
       'nusantara', 'nya', 'nyaman', 'nyata', 'nyoman', 'objek',
       'observatorium', 'obyek', 'of', 'oktober', 'olah', 'olahraga',
       'ombak', 'orang', 'ornamen', 'outbond', 'pagar', 'pagi', 'pagoda',
       'pahlawan', 'pakualaman', 'pameran', 'panas', 'pancuran',
       'pandang', 'panggung', 'panglima', 'panguk', 'panorama', 'pantai',
       'paralayang', 'parangtritis', 'pariwisata', 'park', 'parkir',
       'pas', 'pasar', 'pasir', 'pasisir', 'pastinya', 'pasupati',
       'patenggang', 'patung', 'payung', 'pecinan', 'pecinta', 'pedesaan',
       'pegunungan', 'pekan', 'pekerjaan', 'pelabuhan', 'pelangi',
       'pelestarian', 'peletakan', 'pemandangan', 'pemandian',
       'pembangunan', 'pemerintah', 'pemerintahan', 'pemuda',
       'penambangan', 'penasaran', 'pendidikan', 'penduduk', 'pengalaman',
       'pengelola', 'pengembangan', 'pengunjung', 'pening', 'peninggalan',
       'pepohonan', 'perahu', 'perang', 'perbelanjaan', 'perbukitan',
       'perdagangan', 'perhatian', 'perhubungan', 'peringatan',
       'peristiwa', 'perjalanan', 'perjuangan', 'perkebunan',
       'perkemahan', 'permainan', 'permukaan', 'perpustakaan', 'persegi',
       'persimpangan', 'persis', 'pertempuran', 'pertunjukan', 'perum',
       'perumahan', 'pesawat', 'pesisir', 'pesona', 'petualangan',
       'pikiran', 'pilihan', 'pinggir', 'pintar', 'pintu', 'pinus',
       'pitung', 'planetarium', 'plaza', 'pohon', 'populer', 'pos',
       'potensi', 'prabu', 'prambanan', 'prasasti', 'presiden', 'pribadi',
       'progo', 'program', 'proklamasi', 'proses', 'provinsi', 'ptt',
       'publik', 'pulau', 'pule', 'puluhan', 'puncak', 'purba',
       'purwodadi', 'pusat', 'putih', 'raja', 'rakyat', 'ramai', 'ratu',
       'ratusan', 'rawa', 'raya', 'rejowinangun', 'rekreasi', 'relatif',
       'relief', 'religius', 'renang', 'rencana', 'renovasi', 'republik',
       'resmi', 'resort', 'restoran', 'ri', 'ria', 'ribu', 'ribuan',
       'ridwan', 'rindang', 'rp', 'ruang', 'ruangan', 'rumah', 'rumput',
       'rupa', 'rw', 'sabtu', 'salah', 'samping', 'sang', 'sanggar',
       'sarana', 'sari', 'sate', 'satunya', 'satwa', 'seaworld',
       'sebelah', 'seberang', 'sebutan', 'sederhana', 'segar', 'sego',
       'sejarah', 'sejuk', 'sekedar', 'sekian', 'sekolah', 'selam',
       'selatan', 'selfie', 'seluas', 'semarang', 'sempurna', 'sengaja',
       'seni', 'seniman', 'senin', 'senjata', 'sensasi', 'sentuhan',
       'sepatu', 'sepeda', 'september', 'sepuluh', 'serangan', 'seribu',
       'seru', 'sesuai', 'setu', 'sewu', 'si', 'siang', 'siliwangi',
       'sisi', 'situ', 'situs', 'siung', 'sleman', 'soeharto', 'soekarno',
       'songgo', 'sore', 'sosial', 'sosrowijayan', 'spathodea', 'spesies',
       'spot', 'srengseng', 'sri', 'ssas', 'stadion', 'stasiun',
       'strategis', 'studio', 'suasana', 'sudut', 'suhu', 'sultan',
       'sumber', 'sunaryo', 'sunda', 'sundak', 'sungai', 'sunrise',
       'sunset', 'surabaya', 'surakarta', 'surat', 'surga', 'tabanas',
       'taman', 'tanah', 'tanaman', 'tangan', 'tangga', 'tanggal',
       'tangkuban', 'tarik', 'tauhid', 'tebet', 'tebing', 'teh',
       'teknologi', 'teluk', 'tema', 'tembi', 'tembok', 'tempatnya',
       'tenang', 'tenggara', 'tentara', 'tenun', 'tepatnya', 'tepi',
       'tepus', 'teras', 'terbaik', 'terbatas', 'terbentuk', 'terbesar',
       'terbilang', 'terbuat', 'terbuka', 'terjun', 'terkenal',
       'terletak', 'terminal', 'tersedia', 'tersendiri', 'tertua',
       'thailand', 'thamrin', 'the', 'tiang', 'tiket', 'tilu', 'timur',
       'tinggal', 'tionghoa', 'titik', 'tni', 'toko', 'tokoh', 'total',
       'tower', 'tradisional', 'trans', 'translit', 'transportasi',
       'traveler', 'tua', 'tugas', 'tugu', 'tujuan', 'tunggal', 'tuntang',
       'turis', 'udara', 'udjo', 'ukuran', 'umat', 'undaan', 'ungaran',
       'unik', 'unit', 'upacara', 'utama', 'utamanya', 'utara', 'van',
       'view', 'waduk', 'wahana', 'wakil', 'wali', 'warga', 'warisan',
       'warna', 'warni', 'warung', 'waterpark', 'watu', 'wayang',
       'wilayah', 'wisata', 'wisatawan', 'wonosari', 'world', 'yani',
       'yogya', 'yogyakarta', 'zaman', 'ê¦”ê¦ª', 'ê¦•ê¦¤', 'ê¦¥ê¦±'], dtype=object)

In [186]:
similarity = cosine_similarity(vectors)
similarity.shape

(437, 437)

In [187]:
pkl.dump(similarity, open('similarity.pkl', 'wb'))
pkl.dump(new_df_tourism, open('new_df_tourism.pkl', 'wb'))

In [188]:
def similarity_tourism(tourism_name):
    index = new_df_tourism[new_df_tourism['Place_Name'] == tourism_name].index[0]
    similarity_score = similarity[index]
    similarity_place = sorted(list(enumerate(similarity_score)),key=lambda x: x[1],reverse=True)[1:11]
    similarity_list = []    
    for i in similarity_place:
        similarity_list.append([df_tourism.iloc[i[0], 1]] + [i[1]])
    return similarity_list

In [189]:
similarity_place = similarity_tourism('Dunia Fantasi')
similarity_place

[['Taman Impian Jaya Ancol', 0.6504436355879908],
 ['Grand Indonesia Mall', 0.4387634544762783],
 ['Skyrink - Mall Taman Anggrek', 0.420599782339669],
 ['Taman Mini Indonesia Indah (TMII)', 0.408248290463863],
 ['Taman Legenda Keong Emas', 0.379941632827523],
 ['Pelabuhan Marina', 0.3783937343321347],
 ['Kidzania', 0.37688918072220445],
 ['The Escape Hunt', 0.3763089045031908],
 ['Margasatwa Muara Angke', 0.3662599370166148],
 ['Pulau Pari', 0.35176323534072423]]

In [190]:
df_collaborative = df_tourism_rating.copy()
df_collaborative

      User_Id  Place_Id  Place_Ratings
0           1       179              3
1           1       344              2
2           1         5              5
3           1       373              3
4           1       101              4
...       ...       ...            ...
9995      300       425              2
9996      300        64              4
9997      300       311              3
9998      300       279              4
9999      300       163              2

[10000 rows x 3 columns]

In [191]:
user_id = df_collaborative['User_Id'].unique().tolist()
user_id_encoded = {value: index for index, value in enumerate(user_id)}
print(user_id_encoded)

place_id = df_collaborative['Place_Id'].unique().tolist()
place_id_encoded = {value: index for index, value in enumerate(place_id)}
print(place_id_encoded)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 11: 10, 12: 11, 13: 12, 14: 13, 15: 14, 16: 15, 17: 16, 18: 17, 19: 18, 20: 19, 21: 20, 22: 21, 23: 22, 24: 23, 25: 24, 26: 25, 27: 26, 28: 27, 29: 28, 30: 29, 31: 30, 32: 31, 33: 32, 34: 33, 35: 34, 36: 35, 37: 36, 38: 37, 39: 38, 40: 39, 41: 40, 42: 41, 43: 42, 44: 43, 45: 44, 46: 45, 47: 46, 48: 47, 49: 48, 50: 49, 51: 50, 52: 51, 53: 52, 54: 53, 55: 54, 56: 55, 57: 56, 58: 57, 59: 58, 60: 59, 61: 60, 62: 61, 63: 62, 64: 63, 65: 64, 66: 65, 67: 66, 68: 67, 69: 68, 70: 69, 71: 70, 72: 71, 73: 72, 74: 73, 75: 74, 76: 75, 77: 76, 78: 77, 79: 78, 80: 79, 81: 80, 82: 81, 83: 82, 84: 83, 85: 84, 86: 85, 87: 86, 88: 87, 89: 88, 90: 89, 91: 90, 92: 91, 93: 92, 94: 93, 95: 94, 96: 95, 97: 96, 98: 97, 99: 98, 100: 99, 101: 100, 102: 101, 103: 102, 104: 103, 105: 104, 106: 105, 107: 106, 108: 107, 109: 108, 110: 109, 111: 110, 112: 111, 113: 112, 114: 113, 115: 114, 116: 115, 117: 116, 118: 117, 119: 118, 120: 119, 121: 120, 122: 121, 123: 122, 124: 123, 125: 124, 126: 125, 127: 126, 128: 127, 129: 128, 130: 129, 131: 130, 132: 131, 133: 132, 134: 133, 135: 134, 136: 135, 137: 136, 138: 137, 139: 138, 140: 139, 141: 140, 142: 141, 143: 142, 144: 143, 145: 144, 146: 145, 147: 146, 148: 147, 149: 148, 150: 149, 151: 150, 152: 151, 153: 152, 154: 153, 155: 154, 156: 155, 157: 156, 158: 157, 159: 158, 160: 159, 161: 160, 162: 161, 163: 162, 164: 163, 165: 164, 166: 165, 167: 166, 168: 167, 169: 168, 170: 169, 171: 170, 172: 171, 173: 172, 174: 173, 175: 174, 176: 175, 177: 176, 178: 177, 179: 178, 180: 179, 181: 180, 182: 181, 183: 182, 184: 183, 185: 184, 186: 185, 187: 186, 188: 187, 189: 188, 190: 189, 191: 190, 192: 191, 193: 192, 194: 193, 195: 194, 196: 195, 197: 196, 198: 197, 199: 198, 200: 199, 201: 200, 202: 201, 203: 202, 204: 203, 205: 204, 206: 205, 207: 206, 208: 207, 209: 208, 210: 209, 211: 210, 212: 211, 213: 212, 214: 213, 215: 214, 216: 215, 217: 216, 218: 217, 219: 218, 220: 219, 221: 220, 222: 221, 223: 222, 224: 223, 225: 224, 226: 225, 227: 226, 228: 227, 229: 228, 230: 229, 231: 230, 232: 231, 233: 232, 234: 233, 235: 234, 236: 235, 237: 236, 238: 237, 239: 238, 240: 239, 241: 240, 242: 241, 243: 242, 244: 243, 245: 244, 246: 245, 247: 246, 248: 247, 249: 248, 250: 249, 251: 250, 252: 251, 253: 252, 254: 253, 255: 254, 256: 255, 257: 256, 258: 257, 259: 258, 260: 259, 261: 260, 262: 261, 263: 262, 264: 263, 265: 264, 266: 265, 267: 266, 268: 267, 269: 268, 270: 269, 271: 270, 272: 271, 273: 272, 274: 273, 275: 274, 276: 275, 277: 276, 278: 277, 279: 278, 280: 279, 281: 280, 282: 281, 283: 282, 284: 283, 285: 284, 286: 285, 287: 286, 288: 287, 289: 288, 290: 289, 291: 290, 292: 291, 293: 292, 294: 293, 295: 294, 296: 295, 297: 296, 298: 297, 299: 298, 300: 299}
{179: 0, 344: 1, 5: 2, 373: 3, 101: 4, 312: 5, 258: 6, 20: 7, 154: 8, 393: 9, 103: 10, 208: 11, 89: 12, 405: 13, 41: 14, 336: 15, 67: 16, 292: 17, 222: 18, 76: 19, 428: 20, 15: 21, 246: 22, 265: 23, 21: 24, 328: 25, 307: 26, 302: 27, 48: 28, 147: 29, 2: 30, 322: 31, 23: 32, 85: 33, 371: 34, 78: 35, 111: 36, 107: 37, 185: 38, 413: 39, 389: 40, 437: 41, 105: 42, 176: 43, 407: 44, 281: 45, 167: 46, 384: 47, 426: 48, 390: 49, 367: 50, 166: 51, 18: 52, 321: 53, 262: 54, 223: 55, 17: 56, 319: 57, 310: 58, 421: 59, 202: 60, 283: 61, 250: 62, 118: 63, 54: 64, 70: 65, 33: 66, 227: 67, 86: 68, 249: 69, 131: 70, 382: 71, 193: 72, 104: 73, 24: 74, 128: 75, 134: 76, 228: 77, 237: 78, 100: 79, 198: 80, 50: 81, 376: 82, 268: 83, 242: 84, 82: 85, 348: 86, 409: 87, 88: 88, 4: 89, 377: 90, 43: 91, 91: 92, 44: 93, 14: 94, 406: 95, 383: 96, 229: 97, 290: 98, 294: 99, 309: 100, 74: 101, 97: 102, 138: 103, 436: 104, 395: 105, 300: 106, 68: 107, 55: 108, 434: 109, 9: 110, 151: 111, 61: 112, 159: 113, 397: 114, 391: 115, 301: 116, 143: 117, 27: 118, 190: 119, 346: 120, 381: 121, 368: 122, 433: 123, 420: 124, 335: 125, 115: 126, 334: 127, 219: 128, 178: 129, 266: 130, 92: 131, 64: 132, 102: 133, 257: 134, 243: 135, 116: 136, 359: 137, 121: 138, 385: 139, 398: 140, 119: 141, 298: 142, 410: 143, 224: 144, 379: 145, 255: 146, 269: 147, 213: 148, 126: 149, 192: 150, 183: 151, 129: 152, 303: 153, 296: 154, 99: 155, 148: 156, 13: 157, 247: 158, 31: 159, 77: 160, 158: 161, 306: 162, 98: 163, 235: 164, 45: 165, 173: 166, 275: 167, 25: 168, 130: 169, 164: 170, 267: 171, 56: 172, 30: 173, 238: 174, 402: 175, 196: 176, 417: 177, 304: 178, 206: 179, 211: 180, 28: 181, 264: 182, 403: 183, 253: 184, 331: 185, 188: 186, 416: 187, 378: 188, 233: 189, 95: 190, 204: 191, 225: 192, 341: 193, 145: 194, 36: 195, 168: 196, 12: 197, 280: 198, 236: 199, 42: 200, 90: 201, 75: 202, 63: 203, 205: 204, 234: 205, 284: 206, 230: 207, 197: 208, 339: 209, 35: 210, 226: 211, 430: 212, 37: 213, 109: 214, 355: 215, 186: 216, 149: 217, 6: 218, 150: 219, 11: 220, 127: 221, 429: 222, 194: 223, 49: 224, 369: 225, 94: 226, 274: 227, 72: 228, 46: 229, 65: 230, 203: 231, 139: 232, 141: 233, 71: 234, 52: 235, 293: 236, 422: 237, 214: 238, 114: 239, 191: 240, 156: 241, 177: 242, 163: 243, 142: 244, 245: 245, 325: 246, 259: 247, 396: 248, 96: 249, 8: 250, 362: 251, 435: 252, 59: 253, 171: 254, 277: 255, 342: 256, 365: 257, 340: 258, 260: 259, 187: 260, 297: 261, 207: 262, 248: 263, 153: 264, 239: 265, 360: 266, 170: 267, 357: 268, 73: 269, 201: 270, 252: 271, 414: 272, 132: 273, 26: 274, 347: 275, 270: 276, 16: 277, 19: 278, 318: 279, 256: 280, 181: 281, 199: 282, 288: 283, 330: 284, 3: 285, 47: 286, 32: 287, 308: 288, 210: 289, 279: 290, 289: 291, 332: 292, 80: 293, 375: 294, 182: 295, 412: 296, 272: 297, 184: 298, 113: 299, 399: 300, 261: 301, 112: 302, 327: 303, 418: 304, 84: 305, 400: 306, 195: 307, 34: 308, 295: 309, 38: 310, 165: 311, 212: 312, 124: 313, 432: 314, 317: 315, 333: 316, 81: 317, 374: 318, 136: 319, 278: 320, 108: 321, 404: 322, 83: 323, 425: 324, 22: 325, 349: 326, 411: 327, 241: 328, 427: 329, 209: 330, 323: 331, 137: 332, 315: 333, 62: 334, 244: 335, 135: 336, 169: 337, 366: 338, 152: 339, 29: 340, 60: 341, 240: 342, 200: 343, 161: 344, 66: 345, 372: 346, 338: 347, 311: 348, 53: 349, 392: 350, 299: 351, 386: 352, 337: 353, 326: 354, 423: 355, 352: 356, 172: 357, 286: 358, 251: 359, 162: 360, 356: 361, 93: 362, 160: 363, 125: 364, 316: 365, 123: 366, 174: 367, 221: 368, 408: 369, 263: 370, 358: 371, 353: 372, 401: 373, 364: 374, 215: 375, 110: 376, 144: 377, 40: 378, 291: 379, 431: 380, 120: 381, 216: 382, 313: 383, 157: 384, 282: 385, 231: 386, 324: 387, 329: 388, 345: 389, 39: 390, 273: 391, 122: 392, 79: 393, 388: 394, 380: 395, 343: 396, 254: 397, 117: 398, 133: 399, 1: 400, 354: 401, 287: 402, 155: 403, 285: 404, 58: 405, 69: 406, 305: 407, 218: 408, 220: 409, 189: 410, 106: 411, 87: 412, 351: 413, 363: 414, 175: 415, 180: 416, 415: 417, 387: 418, 394: 419, 424: 420, 146: 421, 232: 422, 314: 423, 320: 424, 276: 425, 217: 426, 57: 427, 51: 428, 361: 429, 419: 430, 271: 431, 370: 432, 350: 433, 10: 434, 7: 435, 140: 436}

In [192]:
scaler = MinMaxScaler()
place_ratings = df_collaborative['Place_Ratings'].tolist()
place_ratings_scaled = scaler.fit_transform(np.array(place_ratings).reshape(-1, 1))
df_collaborative['Place_Ratings'] = place_ratings_scaled

In [193]:
df_collaborative['User'] = df_collaborative['User_Id'].map(user_id_encoded)
df_collaborative['Place'] = df_collaborative['Place_Id'].map(place_id_encoded)
df_collaborative

      User_Id  Place_Id  Place_Ratings  User  Place
0           1       179           0.50     0      0
1           1       344           0.25     0      1
2           1         5           1.00     0      2
3           1       373           0.50     0      3
4           1       101           0.75     0      4
...       ...       ...            ...   ...    ...
9995      300       425           0.25   299    324
9996      300        64           0.75   299    132
9997      300       311           0.50   299    348
9998      300       279           0.75   299    290
9999      300       163           0.25   299    243

[10000 rows x 5 columns]

In [194]:
x_train, x_test, y_train, y_test = train_test_split(df_collaborative[['User', 'Place']].values, df_collaborative['Place_Ratings'].values, test_size=0.2, random_state=42,shuffle=True)

In [195]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((8000, 2), (2000, 2), (8000,), (2000,))

In [196]:
def build_recommender_net(num_users, num_place, embedding_size):
    input_layer = tf.keras.layers.Input(shape=(2,), name='input_layer')

    user_input = input_layer[:,:1]
    place_input = input_layer[:,1:]

    user_embedding = tf.keras.layers.Embedding(
        num_users,
        embedding_size,
        embeddings_initializer='he_normal',
        embeddings_regularizer=tf.keras.regularizers.l2(1e-6)
    )(user_input)
    user_bias = tf.keras.layers.Embedding(num_users, 1)(user_input)

    place_embedding = tf.keras.layers.Embedding(
        num_place,
        embedding_size,
        embeddings_initializer='he_normal',
        embeddings_regularizer=tf.keras.regularizers.l2(1e-6)
    )(place_input)
    place_bias = tf.keras.layers.Embedding(num_place, 1)(place_input)

    dot_user_place = tf.keras.layers.Dot(axes=2)([user_embedding, place_embedding])

    x = tf.keras.layers.Add()([dot_user_place, user_bias, place_bias])
    x = tf.keras.layers.Flatten()(x)
    x = tf.keras.layers.Dense(128, activation='relu')(x)
    x = tf.keras.layers.Dense(64, activation='relu')(x)
    output = tf.keras.layers.Dense(1, activation='sigmoid')(x)

    model = tf.keras.models.Model(inputs=input_layer, outputs=output)
    return model

In [197]:
model = build_recommender_net(num_users=len(user_id_encoded), num_place=len(place_id_encoded), embedding_size=128)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=[tf.keras.metrics.RootMeanSquaredError()])

In [198]:
model.fit(x_train, y_train, batch_size=128,epochs=100, verbose=2, validation_data=(x_test, y_test))

Epoch 1/100

63/63 - 2s - loss: 0.6931 - root_mean_squared_error: 0.3454 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3435 - 2s/epoch - 30ms/step
Epoch 2/100
63/63 - 0s - loss: 0.6633 - root_mean_squared_error: 0.3236 - val_loss: 0.7307 - val_root_mean_squared_error: 0.3670 - 405ms/epoch - 6ms/step
Epoch 3/100
63/63 - 0s - loss: 0.5318 - root_mean_squared_error: 0.2146 - val_loss: 0.7969 - val_root_mean_squared_error: 0.3972 - 373ms/epoch - 6ms/step
Epoch 4/100
63/63 - 0s - loss: 0.4507 - root_mean_squared_error: 0.1282 - val_loss: 0.8472 - val_root_mean_squared_error: 0.4135 - 360ms/epoch - 6ms/step
Epoch 5/100
63/63 - 0s - loss: 0.4218 - root_mean_squared_error: 0.0990 - val_loss: 0.8829 - val_root_mean_squared_error: 0.4218 - 396ms/epoch - 6ms/step
Epoch 6/100
63/63 - 0s - loss: 0.4120 - root_mean_squared_error: 0.0937 - val_loss: 0.9221 - val_root_mean_squared_error: 0.4289 - 438ms/epoch - 7ms/step
Epoch 7/100
63/63 - 0s - loss: 0.4102 - root_mean_squared_error: 0.0962 - val_loss: 0.9269 - val_root_mean_squared_error: 0.4288 - 422ms/epoch - 7ms/step
Epoch 8/100
63/63 - 0s - loss: 0.4092 - root_mean_squared_error: 0.0979 - val_loss: 0.9239 - val_root_mean_squared_error: 0.4254 - 375ms/epoch - 6ms/step
Epoch 9/100
63/63 - 1s - loss: 0.4059 - root_mean_squared_error: 0.0923 - val_loss: 0.9244 - val_root_mean_squared_error: 0.4233 - 522ms/epoch - 8ms/step
Epoch 10/100
63/63 - 1s - loss: 0.4022 - root_mean_squared_error: 0.0864 - val_loss: 0.9209 - val_root_mean_squared_error: 0.4204 - 715ms/epoch - 11ms/step
Epoch 11/100
63/63 - 1s - loss: 0.4004 - root_mean_squared_error: 0.0831 - val_loss: 0.9200 - val_root_mean_squared_error: 0.4191 - 852ms/epoch - 14ms/step
Epoch 12/100
63/63 - 1s - loss: 0.3991 - root_mean_squared_error: 0.0810 - val_loss: 0.9261 - val_root_mean_squared_error: 0.4173 - 768ms/epoch - 12ms/step
Epoch 13/100
63/63 - 1s - loss: 0.3983 - root_mean_squared_error: 0.0789 - val_loss: 0.9094 - val_root_mean_squared_error: 0.4140 - 561ms/epoch - 9ms/step
Epoch 14/100
63/63 - 1s - loss: 0.3971 - root_mean_squared_error: 0.0766 - val_loss: 0.9060 - val_root_mean_squared_error: 0.4117 - 595ms/epoch - 9ms/step
Epoch 15/100
63/63 - 1s - loss: 0.3968 - root_mean_squared_error: 0.0761 - val_loss: 0.9163 - val_root_mean_squared_error: 0.4123 - 533ms/epoch - 8ms/step
Epoch 16/100
63/63 - 0s - loss: 0.3960 - root_mean_squared_error: 0.0747 - val_loss: 0.9038 - val_root_mean_squared_error: 0.4096 - 412ms/epoch - 7ms/step
Epoch 17/100
63/63 - 1s - loss: 0.3960 - root_mean_squared_error: 0.0748 - val_loss: 0.8957 - val_root_mean_squared_error: 0.4070 - 646ms/epoch - 10ms/step
Epoch 18/100
63/63 - 0s - loss: 0.3959 - root_mean_squared_error: 0.0741 - val_loss: 0.8956 - val_root_mean_squared_error: 0.4066 - 423ms/epoch - 7ms/step
Epoch 19/100
63/63 - 0s - loss: 0.3958 - root_mean_squared_error: 0.0741 - val_loss: 0.9001 - val_root_mean_squared_error: 0.4065 - 397ms/epoch - 6ms/step
Epoch 20/100
63/63 - 0s - loss: 0.3955 - root_mean_squared_error: 0.0728 - val_loss: 0.8875 - val_root_mean_squared_error: 0.4036 - 395ms/epoch - 6ms/step
Epoch 21/100
63/63 - 0s - loss: 0.3953 - root_mean_squared_error: 0.0731 - val_loss: 0.9085 - val_root_mean_squared_error: 0.4055 - 381ms/epoch - 6ms/step
Epoch 22/100
63/63 - 0s - loss: 0.3950 - root_mean_squared_error: 0.0725 - val_loss: 0.8944 - val_root_mean_squared_error: 0.4026 - 376ms/epoch - 6ms/step
Epoch 23/100
63/63 - 0s - loss: 0.3951 - root_mean_squared_error: 0.0732 - val_loss: 0.8906 - val_root_mean_squared_error: 0.4021 - 387ms/epoch - 6ms/step
Epoch 24/100
63/63 - 0s - loss: 0.3945 - root_mean_squared_error: 0.0719 - val_loss: 0.8925 - val_root_mean_squared_error: 0.4014 - 359ms/epoch - 6ms/step
Epoch 25/100
63/63 - 0s - loss: 0.3951 - root_mean_squared_error: 0.0729 - val_loss: 0.8795 - val_root_mean_squared_error: 0.3978 - 369ms/epoch - 6ms/step
Epoch 26/100
63/63 - 0s - loss: 0.3949 - root_mean_squared_error: 0.0726 - val_loss: 0.8719 - val_root_mean_squared_error: 0.3970 - 379ms/epoch - 6ms/step
Epoch 27/100
63/63 - 0s - loss: 0.3943 - root_mean_squared_error: 0.0712 - val_loss: 0.8905 - val_root_mean_squared_error: 0.3983 - 400ms/epoch - 6ms/step
Epoch 28/100
63/63 - 0s - loss: 0.3945 - root_mean_squared_error: 0.0714 - val_loss: 0.8718 - val_root_mean_squared_error: 0.3962 - 385ms/epoch - 6ms/step
Epoch 29/100
63/63 - 0s - loss: 0.3945 - root_mean_squared_error: 0.0709 - val_loss: 0.8715 - val_root_mean_squared_error: 0.3955 - 381ms/epoch - 6ms/step
Epoch 30/100
63/63 - 0s - loss: 0.3954 - root_mean_squared_error: 0.0719 - val_loss: 0.8645 - val_root_mean_squared_error: 0.3958 - 391ms/epoch - 6ms/step
Epoch 31/100
63/63 - 0s - loss: 0.3939 - root_mean_squared_error: 0.0700 - val_loss: 0.8635 - val_root_mean_squared_error: 0.3926 - 414ms/epoch - 7ms/step
Epoch 32/100
63/63 - 0s - loss: 0.3942 - root_mean_squared_error: 0.0705 - val_loss: 0.8705 - val_root_mean_squared_error: 0.3943 - 352ms/epoch - 6ms/step
Epoch 33/100
63/63 - 0s - loss: 0.3933 - root_mean_squared_error: 0.0685 - val_loss: 0.8660 - val_root_mean_squared_error: 0.3925 - 360ms/epoch - 6ms/step
Epoch 34/100
63/63 - 0s - loss: 0.3936 - root_mean_squared_error: 0.0684 - val_loss: 0.8710 - val_root_mean_squared_error: 0.3944 - 396ms/epoch - 6ms/step
Epoch 35/100
63/63 - 0s - loss: 0.3938 - root_mean_squared_error: 0.0705 - val_loss: 0.8688 - val_root_mean_squared_error: 0.3928 - 361ms/epoch - 6ms/step
Epoch 36/100
63/63 - 0s - loss: 0.3940 - root_mean_squared_error: 0.0697 - val_loss: 0.8685 - val_root_mean_squared_error: 0.3925 - 352ms/epoch - 6ms/step
Epoch 37/100
63/63 - 0s - loss: 0.3943 - root_mean_squared_error: 0.0705 - val_loss: 0.8518 - val_root_mean_squared_error: 0.3891 - 446ms/epoch - 7ms/step
Epoch 38/100
63/63 - 0s - loss: 0.3943 - root_mean_squared_error: 0.0710 - val_loss: 0.8600 - val_root_mean_squared_error: 0.3901 - 377ms/epoch - 6ms/step
Epoch 39/100
63/63 - 0s - loss: 0.3947 - root_mean_squared_error: 0.0691 - val_loss: 0.8469 - val_root_mean_squared_error: 0.3883 - 366ms/epoch - 6ms/step
Epoch 40/100
63/63 - 0s - loss: 0.3938 - root_mean_squared_error: 0.0689 - val_loss: 0.8538 - val_root_mean_squared_error: 0.3892 - 378ms/epoch - 6ms/step
Epoch 41/100
63/63 - 0s - loss: 0.3930 - root_mean_squared_error: 0.0681 - val_loss: 0.8576 - val_root_mean_squared_error: 0.3878 - 384ms/epoch - 6ms/step
Epoch 42/100
63/63 - 0s - loss: 0.3938 - root_mean_squared_error: 0.0683 - val_loss: 0.8484 - val_root_mean_squared_error: 0.3879 - 387ms/epoch - 6ms/step
Epoch 43/100
63/63 - 0s - loss: 0.3936 - root_mean_squared_error: 0.0691 - val_loss: 0.8495 - val_root_mean_squared_error: 0.3880 - 364ms/epoch - 6ms/step
Epoch 44/100
63/63 - 0s - loss: 0.3937 - root_mean_squared_error: 0.0689 - val_loss: 0.8509 - val_root_mean_squared_error: 0.3875 - 370ms/epoch - 6ms/step
Epoch 45/100
63/63 - 0s - loss: 0.3932 - root_mean_squared_error: 0.0685 - val_loss: 0.8514 - val_root_mean_squared_error: 0.3864 - 344ms/epoch - 5ms/step
Epoch 46/100
63/63 - 0s - loss: 0.3944 - root_mean_squared_error: 0.0688 - val_loss: 0.8386 - val_root_mean_squared_error: 0.3849 - 337ms/epoch - 5ms/step
Epoch 47/100
63/63 - 0s - loss: 0.3933 - root_mean_squared_error: 0.0683 - val_loss: 0.8415 - val_root_mean_squared_error: 0.3841 - 351ms/epoch - 6ms/step
Epoch 48/100
63/63 - 0s - loss: 0.3941 - root_mean_squared_error: 0.0689 - val_loss: 0.8316 - val_root_mean_squared_error: 0.3843 - 330ms/epoch - 5ms/step
Epoch 49/100
63/63 - 0s - loss: 0.3934 - root_mean_squared_error: 0.0686 - val_loss: 0.8415 - val_root_mean_squared_error: 0.3845 - 347ms/epoch - 6ms/step
Epoch 50/100
63/63 - 0s - loss: 0.3938 - root_mean_squared_error: 0.0693 - val_loss: 0.8327 - val_root_mean_squared_error: 0.3820 - 334ms/epoch - 5ms/step
Epoch 51/100
63/63 - 0s - loss: 0.3942 - root_mean_squared_error: 0.0697 - val_loss: 0.8327 - val_root_mean_squared_error: 0.3822 - 393ms/epoch - 6ms/step
Epoch 52/100
63/63 - 0s - loss: 0.3933 - root_mean_squared_error: 0.0683 - val_loss: 0.8463 - val_root_mean_squared_error: 0.3846 - 368ms/epoch - 6ms/step
Epoch 53/100
63/63 - 0s - loss: 0.3934 - root_mean_squared_error: 0.0684 - val_loss: 0.8341 - val_root_mean_squared_error: 0.3825 - 340ms/epoch - 5ms/step
Epoch 54/100
63/63 - 0s - loss: 0.3936 - root_mean_squared_error: 0.0683 - val_loss: 0.8374 - val_root_mean_squared_error: 0.3841 - 342ms/epoch - 5ms/step
Epoch 55/100
63/63 - 0s - loss: 0.3938 - root_mean_squared_error: 0.0686 - val_loss: 0.8289 - val_root_mean_squared_error: 0.3812 - 347ms/epoch - 6ms/step
Epoch 56/100
63/63 - 0s - loss: 0.3932 - root_mean_squared_error: 0.0683 - val_loss: 0.8326 - val_root_mean_squared_error: 0.3812 - 340ms/epoch - 5ms/step
Epoch 57/100
63/63 - 1s - loss: 0.3932 - root_mean_squared_error: 0.0678 - val_loss: 0.8362 - val_root_mean_squared_error: 0.3816 - 571ms/epoch - 9ms/step
Epoch 58/100
63/63 - 0s - loss: 0.3933 - root_mean_squared_error: 0.0675 - val_loss: 0.8222 - val_root_mean_squared_error: 0.3784 - 359ms/epoch - 6ms/step
Epoch 59/100
63/63 - 0s - loss: 0.3928 - root_mean_squared_error: 0.0676 - val_loss: 0.8344 - val_root_mean_squared_error: 0.3814 - 358ms/epoch - 6ms/step
Epoch 60/100
63/63 - 0s - loss: 0.3930 - root_mean_squared_error: 0.0674 - val_loss: 0.8335 - val_root_mean_squared_error: 0.3808 - 478ms/epoch - 8ms/step
Epoch 61/100
63/63 - 1s - loss: 0.3935 - root_mean_squared_error: 0.0678 - val_loss: 0.8255 - val_root_mean_squared_error: 0.3791 - 547ms/epoch - 9ms/step
Epoch 62/100
63/63 - 1s - loss: 0.3934 - root_mean_squared_error: 0.0695 - val_loss: 0.8292 - val_root_mean_squared_error: 0.3793 - 545ms/epoch - 9ms/step
Epoch 63/100
63/63 - 0s - loss: 0.3937 - root_mean_squared_error: 0.0690 - val_loss: 0.8302 - val_root_mean_squared_error: 0.3801 - 474ms/epoch - 8ms/step
Epoch 64/100
63/63 - 1s - loss: 0.3938 - root_mean_squared_error: 0.0688 - val_loss: 0.8202 - val_root_mean_squared_error: 0.3785 - 850ms/epoch - 13ms/step
Epoch 65/100
63/63 - 1s - loss: 0.3949 - root_mean_squared_error: 0.0693 - val_loss: 0.8126 - val_root_mean_squared_error: 0.3769 - 887ms/epoch - 14ms/step
Epoch 66/100
63/63 - 1s - loss: 0.3930 - root_mean_squared_error: 0.0666 - val_loss: 0.8098 - val_root_mean_squared_error: 0.3766 - 600ms/epoch - 10ms/step
Epoch 67/100
63/63 - 1s - loss: 0.3931 - root_mean_squared_error: 0.0678 - val_loss: 0.8233 - val_root_mean_squared_error: 0.3770 - 606ms/epoch - 10ms/step
Epoch 68/100
63/63 - 1s - loss: 0.3934 - root_mean_squared_error: 0.0672 - val_loss: 0.8191 - val_root_mean_squared_error: 0.3778 - 645ms/epoch - 10ms/step
Epoch 69/100
63/63 - 0s - loss: 0.3934 - root_mean_squared_error: 0.0673 - val_loss: 0.8166 - val_root_mean_squared_error: 0.3771 - 465ms/epoch - 7ms/step
Epoch 70/100
63/63 - 1s - loss: 0.3933 - root_mean_squared_error: 0.0668 - val_loss: 0.8204 - val_root_mean_squared_error: 0.3764 - 700ms/epoch - 11ms/step
Epoch 71/100
63/63 - 1s - loss: 0.3936 - root_mean_squared_error: 0.0677 - val_loss: 0.8127 - val_root_mean_squared_error: 0.3758 - 738ms/epoch - 12ms/step
Epoch 72/100
63/63 - 1s - loss: 0.3936 - root_mean_squared_error: 0.0673 - val_loss: 0.8178 - val_root_mean_squared_error: 0.3780 - 629ms/epoch - 10ms/step
Epoch 73/100
63/63 - 1s - loss: 0.3933 - root_mean_squared_error: 0.0677 - val_loss: 0.8154 - val_root_mean_squared_error: 0.3772 - 792ms/epoch - 13ms/step
Epoch 74/100
63/63 - 1s - loss: 0.3932 - root_mean_squared_error: 0.0682 - val_loss: 0.8125 - val_root_mean_squared_error: 0.3761 - 558ms/epoch - 9ms/step
Epoch 75/100
63/63 - 0s - loss: 0.3936 - root_mean_squared_error: 0.0695 - val_loss: 0.8161 - val_root_mean_squared_error: 0.3759 - 360ms/epoch - 6ms/step
Epoch 76/100
63/63 - 0s - loss: 0.3937 - root_mean_squared_error: 0.0688 - val_loss: 0.8117 - val_root_mean_squared_error: 0.3743 - 370ms/epoch - 6ms/step
Epoch 77/100
63/63 - 0s - loss: 0.3934 - root_mean_squared_error: 0.0676 - val_loss: 0.8155 - val_root_mean_squared_error: 0.3751 - 372ms/epoch - 6ms/step
Epoch 78/100
63/63 - 0s - loss: 0.3935 - root_mean_squared_error: 0.0680 - val_loss: 0.8072 - val_root_mean_squared_error: 0.3739 - 387ms/epoch - 6ms/step
Epoch 79/100
63/63 - 1s - loss: 0.3938 - root_mean_squared_error: 0.0689 - val_loss: 0.8107 - val_root_mean_squared_error: 0.3743 - 624ms/epoch - 10ms/step
Epoch 80/100
63/63 - 1s - loss: 0.3928 - root_mean_squared_error: 0.0672 - val_loss: 0.8158 - val_root_mean_squared_error: 0.3746 - 600ms/epoch - 10ms/step
Epoch 81/100
63/63 - 1s - loss: 0.3926 - root_mean_squared_error: 0.0663 - val_loss: 0.8161 - val_root_mean_squared_error: 0.3732 - 546ms/epoch - 9ms/step
Epoch 82/100
63/63 - 0s - loss: 0.3940 - root_mean_squared_error: 0.0661 - val_loss: 0.8141 - val_root_mean_squared_error: 0.3746 - 376ms/epoch - 6ms/step
Epoch 83/100
63/63 - 0s - loss: 0.3928 - root_mean_squared_error: 0.0668 - val_loss: 0.8144 - val_root_mean_squared_error: 0.3737 - 381ms/epoch - 6ms/step
Epoch 84/100
63/63 - 0s - loss: 0.3939 - root_mean_squared_error: 0.0673 - val_loss: 0.8123 - val_root_mean_squared_error: 0.3742 - 361ms/epoch - 6ms/step
Epoch 85/100
63/63 - 0s - loss: 0.3931 - root_mean_squared_error: 0.0669 - val_loss: 0.8100 - val_root_mean_squared_error: 0.3729 - 413ms/epoch - 7ms/step
Epoch 86/100
63/63 - 0s - loss: 0.3931 - root_mean_squared_error: 0.0681 - val_loss: 0.8149 - val_root_mean_squared_error: 0.3753 - 378ms/epoch - 6ms/step
Epoch 87/100
63/63 - 0s - loss: 0.3935 - root_mean_squared_error: 0.0673 - val_loss: 0.8129 - val_root_mean_squared_error: 0.3732 - 395ms/epoch - 6ms/step
Epoch 88/100
63/63 - 0s - loss: 0.3928 - root_mean_squared_error: 0.0659 - val_loss: 0.8122 - val_root_mean_squared_error: 0.3730 - 384ms/epoch - 6ms/step
Epoch 89/100
63/63 - 0s - loss: 0.3926 - root_mean_squared_error: 0.0660 - val_loss: 0.8089 - val_root_mean_squared_error: 0.3750 - 374ms/epoch - 6ms/step
Epoch 90/100
63/63 - 0s - loss: 0.3932 - root_mean_squared_error: 0.0674 - val_loss: 0.8125 - val_root_mean_squared_error: 0.3727 - 365ms/epoch - 6ms/step
Epoch 91/100
63/63 - 0s - loss: 0.3936 - root_mean_squared_error: 0.0674 - val_loss: 0.8063 - val_root_mean_squared_error: 0.3729 - 384ms/epoch - 6ms/step
Epoch 92/100
63/63 - 0s - loss: 0.3929 - root_mean_squared_error: 0.0674 - val_loss: 0.8113 - val_root_mean_squared_error: 0.3734 - 377ms/epoch - 6ms/step
Epoch 93/100
63/63 - 0s - loss: 0.3929 - root_mean_squared_error: 0.0666 - val_loss: 0.8163 - val_root_mean_squared_error: 0.3726 - 382ms/epoch - 6ms/step
Epoch 94/100
63/63 - 0s - loss: 0.3930 - root_mean_squared_error: 0.0662 - val_loss: 0.8114 - val_root_mean_squared_error: 0.3727 - 377ms/epoch - 6ms/step
Epoch 95/100
63/63 - 0s - loss: 0.3926 - root_mean_squared_error: 0.0663 - val_loss: 0.8141 - val_root_mean_squared_error: 0.3728 - 488ms/epoch - 8ms/step
Epoch 96/100
63/63 - 1s - loss: 0.3924 - root_mean_squared_error: 0.0661 - val_loss: 0.8187 - val_root_mean_squared_error: 0.3728 - 555ms/epoch - 9ms/step
Epoch 97/100
63/63 - 1s - loss: 0.3926 - root_mean_squared_error: 0.0664 - val_loss: 0.8153 - val_root_mean_squared_error: 0.3722 - 778ms/epoch - 12ms/step
Epoch 98/100
63/63 - 1s - loss: 0.3928 - root_mean_squared_error: 0.0663 - val_loss: 0.8124 - val_root_mean_squared_error: 0.3718 - 843ms/epoch - 13ms/step
Epoch 99/100
63/63 - 1s - loss: 0.3931 - root_mean_squared_error: 0.0666 - val_loss: 0.8205 - val_root_mean_squared_error: 0.3729 - 711ms/epoch - 11ms/step
Epoch 100/100
63/63 - 0s - loss: 0.3926 - root_mean_squared_error: 0.0659 - val_loss: 0.8128 - val_root_mean_squared_error: 0.3734 - 380ms/epoch - 6ms/step

In [199]:
user_id = df_tourism_rating['User_Id'].sample(1).iloc[0]
place_visited = df_tourism_rating[df_tourism_rating['User_Id'] == user_id]
place_visited.head()

      User_Id  Place_Id  Place_Ratings
2263       70       196              5
2264       70       161              5
2265       70       245              1
2266       70       227              5
2267       70       437              4

In [200]:
place_not_visited = df_tourism[~df_tourism['Place_Id'].isin(place_visited['Place_Id'])]['Place_Id']
place_not_visited = list(set(place_not_visited).intersection(set(place_id_encoded.keys())))
place_not_visited = [[place_id_encoded.get(x)] for x in place_not_visited]
user_encoder = user_id_encoded.get(user_id)
user_place_array = np.hstack(([[user_encoder]] * len(place_not_visited), place_not_visited))

In [201]:
ratings = model.predict(user_place_array).flatten()

13/13 [==============================] - 0s 3ms/step

In [202]:
top_ratings_indices = ratings.argsort()[-10:][::-1]
recommended_place_ids = [place_id_encoded.get(place_not_visited[x][0]) for x in top_ratings_indices]

In [203]:
print(f"Top 5 places that user id {user_id} has visited")
top_ratings_place = (place_visited.sort_values(by='Place_Ratings', ascending=False).head(5)['Place_Id'].values)
df_tourism_rows = df_tourism[df_tourism['Place_Id'].isin(top_ratings_place)]
for row in df_tourism_rows.itertuples():
  print("-",row.Place_Name)

print(f"\nRecommended places for user id {user_id}")
recommended_place = df_tourism[df_tourism['Place_Id'].isin(recommended_place_ids)]
for row in recommended_place.itertuples():
  print("-",row.Place_Name)

Top 5 places that user id 70 has visited
- Sindu Kusuma Edupark (SKE)
- Watu Lumbung
- Bukit Paralayang, Watugupit
- Pantai Ngrenehan
- NuArt Sculpture Park

Recommended places for user id 70
- Pulau Tidung
- Museum Sumpah Pemuda
- Jurang Tembelan Kanigoro
- Goa Pindul
- Museum Geologi Bandung
- Kampung Korea Bandung
- Tektona Waterpark
- Hutan Pinus Kayon
- Taman Buah Surabaya
- Kebun Bibit Wonorejo

In [204]:
model.save('model.h5')