In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

In [2]:
df_tourism_rating = pd.read_csv('../../Dataset/Tourism Rating/raw/tourism_rating.csv')
df_tourism  = pd.read_csv('../../Dataset/Tourism/tourism_encoded.csv')
df_user = pd.read_csv('../../Dataset/User/raw/user.csv')

In [3]:
df_tourism.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,...,_1,Rating_Count,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Sejarah Edukasi,Jakarta,20000,46,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924,...,1,18,0,0,0,0,0,0,1,0
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...","Sejarah Edukasi,Seni Budaya,Kuliner",Jakarta,0,46,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448,...,2,25,0,0,1,0,0,0,1,1
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,"Rekreasi,Hiburan",Jakarta,270000,46,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124,...,3,19,0,1,0,0,1,0,0,0
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,"Sejarah Edukasi,Seni Budaya,Rekreasi",Jakarta,10000,45,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-63024459,...,4,21,0,0,0,0,1,0,1,1
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,"Rekreasi,Olahraga",Jakarta,94000,45,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-612419,...,5,24,0,0,0,1,1,0,0,0

In [4]:
df_tourism.columns

Index(['Place_Id', 'Place_Name', 'Description', 'Category', 'City', 'Price',
       'Rating', 'Time_Minutes', 'Coordinate', 'Lat', 'Long', 'Column1', '_1',
       'Rating_Count', 'Alam', 'Hiburan', 'Kuliner', 'Olahraga', 'Rekreasi',
       'Religius', 'Sejarah Edukasi', 'Seni Budaya'],
      dtype='object')

In [5]:
drop_columns = df_tourism.columns[2:14]
df_tourism.drop(drop_columns, axis=1, inplace=True)
df_tourism.head()

,Place_Id,Place_Name,Alam,Hiburan,Kuliner,Olahraga,Rekreasi,Religius,Sejarah Edukasi,Seni Budaya
0,1,Monumen Nasional,0,0,0,0,0,0,1,0
1,2,Kota Tua,0,0,1,0,0,0,1,1
2,3,Dunia Fantasi,0,1,0,0,1,0,0,0
3,4,Taman Mini Indonesia Indah (TMII),0,0,0,0,1,0,1,1
4,5,Atlantis Water Adventure,0,0,0,1,1,0,0,0

In [6]:
category_similarity = cosine_similarity(df_tourism.iloc[:, 2:])
category_similarity.shape

(437, 437)

In [7]:
def similarity_tourism(tourism_name):
    index = df_tourism[df_tourism['Place_Name'] == tourism_name].index[0]
    similarity_score = category_similarity[index]
    similarity_place = sorted(list(enumerate(similarity_score)),key=lambda x: x[1],reverse=True)[1:11]
    similarity_list = []    
    for i in similarity_place:
        similarity_list.append([df_tourism.iloc[i[0], 1]] + [i[1]])
    return similarity_list

In [8]:
similarity_place = similarity_tourism('Dunia Fantasi')
similarity_place

[['Grand Indonesia Mall', 0.9999999999999998],
 ['The Escape Hunt', 0.9999999999999998],
 ['Taman Legenda Keong Emas', 0.9999999999999998],
 ['Waterboom PIK (Pantai Indah Kapuk)', 0.9999999999999998],
 ['SnowBay Waterpark', 0.9999999999999998],
 ['The Lost World Castle', 0.9999999999999998],
 ['Blue Lagoon Jogja', 0.9999999999999998],
 ['Jogja Bay Pirates Adventure Waterpark', 0.9999999999999998],
 ['Galaxy Waterpark Jogja', 0.9999999999999998],
 ['Trans Studio Bandung', 0.9999999999999998]]

In [9]:
df_collaborative = df_tourism_rating.copy()
df_collaborative

      User_Id  Place_Id  Place_Ratings
0           1       179              3
1           1       344              2
2           1         5              5
3           1       373              3
4           1       101              4
...       ...       ...            ...
9995      300       425              2
9996      300        64              4
9997      300       311              3
9998      300       279              4
9999      300       163              2

[10000 rows x 3 columns]

In [10]:
user_id = df_collaborative['User_Id'].unique().tolist()
user_id_encoded = {value: index for index, value in enumerate(user_id)}
print(user_id_encoded)

place_id = df_collaborative['Place_Id'].unique().tolist()
place_id_encoded = {value: index for index, value in enumerate(place_id)}
print(place_id_encoded)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 11: 10, 12: 11, 13: 12, 14: 13, 15: 14, 16: 15, 17: 16, 18: 17, 19: 18, 20: 19, 21: 20, 22: 21, 23: 22, 24: 23, 25: 24, 26: 25, 27: 26, 28: 27, 29: 28, 30: 29, 31: 30, 32: 31, 33: 32, 34: 33, 35: 34, 36: 35, 37: 36, 38: 37, 39: 38, 40: 39, 41: 40, 42: 41, 43: 42, 44: 43, 45: 44, 46: 45, 47: 46, 48: 47, 49: 48, 50: 49, 51: 50, 52: 51, 53: 52, 54: 53, 55: 54, 56: 55, 57: 56, 58: 57, 59: 58, 60: 59, 61: 60, 62: 61, 63: 62, 64: 63, 65: 64, 66: 65, 67: 66, 68: 67, 69: 68, 70: 69, 71: 70, 72: 71, 73: 72, 74: 73, 75: 74, 76: 75, 77: 76, 78: 77, 79: 78, 80: 79, 81: 80, 82: 81, 83: 82, 84: 83, 85: 84, 86: 85, 87: 86, 88: 87, 89: 88, 90: 89, 91: 90, 92: 91, 93: 92, 94: 93, 95: 94, 96: 95, 97: 96, 98: 97, 99: 98, 100: 99, 101: 100, 102: 101, 103: 102, 104: 103, 105: 104, 106: 105, 107: 106, 108: 107, 109: 108, 110: 109, 111: 110, 112: 111, 113: 112, 114: 113, 115: 114, 116: 115, 117: 116, 118: 117, 119: 118, 120: 119, 121: 120, 122: 121, 123: 122, 124: 123, 125: 124, 126: 125, 127: 126, 128: 127, 129: 128, 130: 129, 131: 130, 132: 131, 133: 132, 134: 133, 135: 134, 136: 135, 137: 136, 138: 137, 139: 138, 140: 139, 141: 140, 142: 141, 143: 142, 144: 143, 145: 144, 146: 145, 147: 146, 148: 147, 149: 148, 150: 149, 151: 150, 152: 151, 153: 152, 154: 153, 155: 154, 156: 155, 157: 156, 158: 157, 159: 158, 160: 159, 161: 160, 162: 161, 163: 162, 164: 163, 165: 164, 166: 165, 167: 166, 168: 167, 169: 168, 170: 169, 171: 170, 172: 171, 173: 172, 174: 173, 175: 174, 176: 175, 177: 176, 178: 177, 179: 178, 180: 179, 181: 180, 182: 181, 183: 182, 184: 183, 185: 184, 186: 185, 187: 186, 188: 187, 189: 188, 190: 189, 191: 190, 192: 191, 193: 192, 194: 193, 195: 194, 196: 195, 197: 196, 198: 197, 199: 198, 200: 199, 201: 200, 202: 201, 203: 202, 204: 203, 205: 204, 206: 205, 207: 206, 208: 207, 209: 208, 210: 209, 211: 210, 212: 211, 213: 212, 214: 213, 215: 214, 216: 215, 217: 216, 218: 217, 219: 218, 220: 219, 221: 220, 222: 221, 223: 222, 224: 223, 225: 224, 226: 225, 227: 226, 228: 227, 229: 228, 230: 229, 231: 230, 232: 231, 233: 232, 234: 233, 235: 234, 236: 235, 237: 236, 238: 237, 239: 238, 240: 239, 241: 240, 242: 241, 243: 242, 244: 243, 245: 244, 246: 245, 247: 246, 248: 247, 249: 248, 250: 249, 251: 250, 252: 251, 253: 252, 254: 253, 255: 254, 256: 255, 257: 256, 258: 257, 259: 258, 260: 259, 261: 260, 262: 261, 263: 262, 264: 263, 265: 264, 266: 265, 267: 266, 268: 267, 269: 268, 270: 269, 271: 270, 272: 271, 273: 272, 274: 273, 275: 274, 276: 275, 277: 276, 278: 277, 279: 278, 280: 279, 281: 280, 282: 281, 283: 282, 284: 283, 285: 284, 286: 285, 287: 286, 288: 287, 289: 288, 290: 289, 291: 290, 292: 291, 293: 292, 294: 293, 295: 294, 296: 295, 297: 296, 298: 297, 299: 298, 300: 299}
{179: 0, 344: 1, 5: 2, 373: 3, 101: 4, 312: 5, 258: 6, 20: 7, 154: 8, 393: 9, 103: 10, 208: 11, 89: 12, 405: 13, 41: 14, 336: 15, 67: 16, 292: 17, 222: 18, 76: 19, 428: 20, 15: 21, 246: 22, 265: 23, 21: 24, 328: 25, 307: 26, 302: 27, 48: 28, 147: 29, 2: 30, 322: 31, 23: 32, 85: 33, 371: 34, 78: 35, 111: 36, 107: 37, 185: 38, 413: 39, 389: 40, 437: 41, 105: 42, 176: 43, 407: 44, 281: 45, 167: 46, 384: 47, 426: 48, 390: 49, 367: 50, 166: 51, 18: 52, 321: 53, 262: 54, 223: 55, 17: 56, 319: 57, 310: 58, 421: 59, 202: 60, 283: 61, 250: 62, 118: 63, 54: 64, 70: 65, 33: 66, 227: 67, 86: 68, 249: 69, 131: 70, 382: 71, 193: 72, 104: 73, 24: 74, 128: 75, 134: 76, 228: 77, 237: 78, 100: 79, 198: 80, 50: 81, 376: 82, 268: 83, 242: 84, 82: 85, 348: 86, 409: 87, 88: 88, 4: 89, 377: 90, 43: 91, 91: 92, 44: 93, 14: 94, 406: 95, 383: 96, 229: 97, 290: 98, 294: 99, 309: 100, 74: 101, 97: 102, 138: 103, 436: 104, 395: 105, 300: 106, 68: 107, 55: 108, 434: 109, 9: 110, 151: 111, 61: 112, 159: 113, 397: 114, 391: 115, 301: 116, 143: 117, 27: 118, 190: 119, 346: 120, 381: 121, 368: 122, 433: 123, 420: 124, 335: 125, 115: 126, 334: 127, 219: 128, 178: 129, 266: 130, 92: 131, 64: 132, 102: 133, 257: 134, 243: 135, 116: 136, 359: 137, 121: 138, 385: 139, 398: 140, 119: 141, 298: 142, 410: 143, 224: 144, 379: 145, 255: 146, 269: 147, 213: 148, 126: 149, 192: 150, 183: 151, 129: 152, 303: 153, 296: 154, 99: 155, 148: 156, 13: 157, 247: 158, 31: 159, 77: 160, 158: 161, 306: 162, 98: 163, 235: 164, 45: 165, 173: 166, 275: 167, 25: 168, 130: 169, 164: 170, 267: 171, 56: 172, 30: 173, 238: 174, 402: 175, 196: 176, 417: 177, 304: 178, 206: 179, 211: 180, 28: 181, 264: 182, 403: 183, 253: 184, 331: 185, 188: 186, 416: 187, 378: 188, 233: 189, 95: 190, 204: 191, 225: 192, 341: 193, 145: 194, 36: 195, 168: 196, 12: 197, 280: 198, 236: 199, 42: 200, 90: 201, 75: 202, 63: 203, 205: 204, 234: 205, 284: 206, 230: 207, 197: 208, 339: 209, 35: 210, 226: 211, 430: 212, 37: 213, 109: 214, 355: 215, 186: 216, 149: 217, 6: 218, 150: 219, 11: 220, 127: 221, 429: 222, 194: 223, 49: 224, 369: 225, 94: 226, 274: 227, 72: 228, 46: 229, 65: 230, 203: 231, 139: 232, 141: 233, 71: 234, 52: 235, 293: 236, 422: 237, 214: 238, 114: 239, 191: 240, 156: 241, 177: 242, 163: 243, 142: 244, 245: 245, 325: 246, 259: 247, 396: 248, 96: 249, 8: 250, 362: 251, 435: 252, 59: 253, 171: 254, 277: 255, 342: 256, 365: 257, 340: 258, 260: 259, 187: 260, 297: 261, 207: 262, 248: 263, 153: 264, 239: 265, 360: 266, 170: 267, 357: 268, 73: 269, 201: 270, 252: 271, 414: 272, 132: 273, 26: 274, 347: 275, 270: 276, 16: 277, 19: 278, 318: 279, 256: 280, 181: 281, 199: 282, 288: 283, 330: 284, 3: 285, 47: 286, 32: 287, 308: 288, 210: 289, 279: 290, 289: 291, 332: 292, 80: 293, 375: 294, 182: 295, 412: 296, 272: 297, 184: 298, 113: 299, 399: 300, 261: 301, 112: 302, 327: 303, 418: 304, 84: 305, 400: 306, 195: 307, 34: 308, 295: 309, 38: 310, 165: 311, 212: 312, 124: 313, 432: 314, 317: 315, 333: 316, 81: 317, 374: 318, 136: 319, 278: 320, 108: 321, 404: 322, 83: 323, 425: 324, 22: 325, 349: 326, 411: 327, 241: 328, 427: 329, 209: 330, 323: 331, 137: 332, 315: 333, 62: 334, 244: 335, 135: 336, 169: 337, 366: 338, 152: 339, 29: 340, 60: 341, 240: 342, 200: 343, 161: 344, 66: 345, 372: 346, 338: 347, 311: 348, 53: 349, 392: 350, 299: 351, 386: 352, 337: 353, 326: 354, 423: 355, 352: 356, 172: 357, 286: 358, 251: 359, 162: 360, 356: 361, 93: 362, 160: 363, 125: 364, 316: 365, 123: 366, 174: 367, 221: 368, 408: 369, 263: 370, 358: 371, 353: 372, 401: 373, 364: 374, 215: 375, 110: 376, 144: 377, 40: 378, 291: 379, 431: 380, 120: 381, 216: 382, 313: 383, 157: 384, 282: 385, 231: 386, 324: 387, 329: 388, 345: 389, 39: 390, 273: 391, 122: 392, 79: 393, 388: 394, 380: 395, 343: 396, 254: 397, 117: 398, 133: 399, 1: 400, 354: 401, 287: 402, 155: 403, 285: 404, 58: 405, 69: 406, 305: 407, 218: 408, 220: 409, 189: 410, 106: 411, 87: 412, 351: 413, 363: 414, 175: 415, 180: 416, 415: 417, 387: 418, 394: 419, 424: 420, 146: 421, 232: 422, 314: 423, 320: 424, 276: 425, 217: 426, 57: 427, 51: 428, 361: 429, 419: 430, 271: 431, 370: 432, 350: 433, 10: 434, 7: 435, 140: 436}

In [11]:
scaler = MinMaxScaler()
place_ratings = df_collaborative['Place_Ratings'].tolist()
place_ratings_scaled = scaler.fit_transform(np.array(place_ratings).reshape(-1, 1))
df_collaborative['Place_Ratings'] = place_ratings_scaled

In [12]:
df_collaborative['User'] = df_collaborative['User_Id'].map(user_id_encoded)
df_collaborative['Place'] = df_collaborative['Place_Id'].map(place_id_encoded)
df_collaborative

      User_Id  Place_Id  Place_Ratings  User  Place
0           1       179           0.50     0      0
1           1       344           0.25     0      1
2           1         5           1.00     0      2
3           1       373           0.50     0      3
4           1       101           0.75     0      4
...       ...       ...            ...   ...    ...
9995      300       425           0.25   299    324
9996      300        64           0.75   299    132
9997      300       311           0.50   299    348
9998      300       279           0.75   299    290
9999      300       163           0.25   299    243

[10000 rows x 5 columns]

In [13]:
x_train, x_test, y_train, y_test = train_test_split(df_collaborative[['User', 'Place']].values, df_collaborative['Place_Ratings'].values, test_size=0.2, random_state=42,shuffle=True)

In [14]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((8000, 2), (2000, 2), (8000,), (2000,))

In [15]:
class RecommenderNet(tf.keras.Model):
 
  def __init__(self, num_users, num_place, embedding_size, **kwargs):
    super(RecommenderNet, self).__init__(**kwargs)
    self.num_users = num_users
    self.num_place = num_place
    self.embedding_size = embedding_size
    self.user_embedding = tf.keras.layers.Embedding(
        num_users,
        embedding_size,
        embeddings_initializer = 'he_normal',
        embeddings_regularizer = tf.keras.regularizers.l2(1e-6)
    )
    self.user_bias = tf.keras.layers.Embedding(num_users, 1)
    self.place_embedding = tf.keras.layers.Embedding(
        num_place,
        embedding_size,
        embeddings_initializer = 'he_normal',
        embeddings_regularizer = tf.keras.regularizers.l2(1e-6)
    )
    self.place_bias = tf.keras.layers.Embedding(num_place, 1)
    self.dense_1 = tf.keras.layers.Dense(128, activation='relu')
    self.dense_2 = tf.keras.layers.Dense(64, activation='relu')
    self.dense_3 = tf.keras.layers.Dense(1, activation='sigmoid')
 
  def call(self, inputs):
    user_vector = self.user_embedding(inputs[:,0])
    user_bias = self.user_bias(inputs[:, 0])
    place_vector = self.place_embedding(inputs[:, 1])
    place_bias = self.place_bias(inputs[:, 1])
 
    dot_user_place = tf.tensordot(user_vector, place_vector, 2) 
 
    x = dot_user_place + user_bias + place_bias
    x = self.dense_1(x)
    x = self.dense_2(x)
    x = self.dense_3(x)
  
    return x

In [16]:
model = RecommenderNet(num_users=len(user_id_encoded), num_place=len(place_id_encoded), embedding_size=128)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=[tf.keras.metrics.RootMeanSquaredError()])

In [17]:
model.fit(x_train, y_train, batch_size=128,epochs=100, verbose=2, validation_data=(x_test, y_test))

Epoch 1/100
63/63 - 3s - loss: 0.6943 - root_mean_squared_error: 0.3463 - val_loss: 0.6937 - val_root_mean_squared_error: 0.3434 - 3s/epoch - 40ms/step
Epoch 2/100
63/63 - 1s - loss: 0.6938 - root_mean_squared_error: 0.3459 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 586ms/epoch - 9ms/step
Epoch 3/100
63/63 - 1s - loss: 0.6933 - root_mean_squared_error: 0.3456 - val_loss: 0.6940 - val_root_mean_squared_error: 0.3436 - 549ms/epoch - 9ms/step
Epoch 4/100
63/63 - 1s - loss: 0.6931 - root_mean_squared_error: 0.3455 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 585ms/epoch - 9ms/step
Epoch 5/100
63/63 - 1s - loss: 0.6932 - root_mean_squared_error: 0.3456 - val_loss: 0.6940 - val_root_mean_squared_error: 0.3436 - 585ms/epoch - 9ms/step
Epoch 6/100
63/63 - 1s - loss: 0.6934 - root_mean_squared_error: 0.3457 - val_loss: 0.6942 - val_root_mean_squared_error: 0.3438 - 584ms/epoch - 9ms/step
Epoch 7/100
63/63 - 1s - loss: 0.6932 - root_mean_squared_error: 0.3455 - val_loss: 0.6941 - val_root_mean_squared_error: 0.3437 - 586ms/epoch - 9ms/step
Epoch 8/100
63/63 - 1s - loss: 0.6932 - root_mean_squared_error: 0.3456 - val_loss: 0.6940 - val_root_mean_squared_error: 0.3436 - 547ms/epoch - 9ms/step
Epoch 9/100
63/63 - 1s - loss: 0.6931 - root_mean_squared_error: 0.3455 - val_loss: 0.6940 - val_root_mean_squared_error: 0.3436 - 533ms/epoch - 8ms/step
Epoch 10/100
63/63 - 1s - loss: 0.6930 - root_mean_squared_error: 0.3454 - val_loss: 0.6943 - val_root_mean_squared_error: 0.3438 - 529ms/epoch - 8ms/step
Epoch 11/100
63/63 - 1s - loss: 0.6934 - root_mean_squared_error: 0.3457 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3435 - 563ms/epoch - 9ms/step
Epoch 12/100
63/63 - 1s - loss: 0.6932 - root_mean_squared_error: 0.3456 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 699ms/epoch - 11ms/step
Epoch 13/100
63/63 - 1s - loss: 0.6932 - root_mean_squared_error: 0.3455 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3434 - 611ms/epoch - 10ms/step
Epoch 14/100
63/63 - 1s - loss: 0.6934 - root_mean_squared_error: 0.3457 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 636ms/epoch - 10ms/step
Epoch 15/100
63/63 - 1s - loss: 0.6931 - root_mean_squared_error: 0.3455 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 563ms/epoch - 9ms/step
Epoch 16/100
63/63 - 1s - loss: 0.6930 - root_mean_squared_error: 0.3454 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3436 - 520ms/epoch - 8ms/step
Epoch 17/100
63/63 - 1s - loss: 0.6930 - root_mean_squared_error: 0.3454 - val_loss: 0.6941 - val_root_mean_squared_error: 0.3437 - 516ms/epoch - 8ms/step
Epoch 18/100
63/63 - 1s - loss: 0.6933 - root_mean_squared_error: 0.3456 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3435 - 577ms/epoch - 9ms/step
Epoch 19/100
63/63 - 1s - loss: 0.6930 - root_mean_squared_error: 0.3454 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3435 - 686ms/epoch - 11ms/step
Epoch 20/100
63/63 - 1s - loss: 0.6932 - root_mean_squared_error: 0.3456 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 713ms/epoch - 11ms/step
Epoch 21/100
63/63 - 1s - loss: 0.6932 - root_mean_squared_error: 0.3455 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 732ms/epoch - 12ms/step
Epoch 22/100
63/63 - 1s - loss: 0.6930 - root_mean_squared_error: 0.3454 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 534ms/epoch - 8ms/step
Epoch 23/100
63/63 - 1s - loss: 0.6930 - root_mean_squared_error: 0.3453 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 608ms/epoch - 10ms/step
Epoch 24/100
63/63 - 1s - loss: 0.6929 - root_mean_squared_error: 0.3453 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 712ms/epoch - 11ms/step
Epoch 25/100
63/63 - 1s - loss: 0.6931 - root_mean_squared_error: 0.3455 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3435 - 714ms/epoch - 11ms/step
Epoch 26/100
63/63 - 1s - loss: 0.6929 - root_mean_squared_error: 0.3453 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3435 - 673ms/epoch - 11ms/step
Epoch 27/100
63/63 - 0s - loss: 0.6930 - root_mean_squared_error: 0.3454 - val_loss: 0.6937 - val_root_mean_squared_error: 0.3434 - 459ms/epoch - 7ms/step
Epoch 28/100
63/63 - 1s - loss: 0.6933 - root_mean_squared_error: 0.3456 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3433 - 525ms/epoch - 8ms/step
Epoch 29/100
63/63 - 1s - loss: 0.6927 - root_mean_squared_error: 0.3451 - val_loss: 0.6934 - val_root_mean_squared_error: 0.3431 - 517ms/epoch - 8ms/step
Epoch 30/100
63/63 - 1s - loss: 0.6928 - root_mean_squared_error: 0.3452 - val_loss: 0.6941 - val_root_mean_squared_error: 0.3437 - 591ms/epoch - 9ms/step
Epoch 31/100
63/63 - 1s - loss: 0.6932 - root_mean_squared_error: 0.3455 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 664ms/epoch - 11ms/step
Epoch 32/100
63/63 - 1s - loss: 0.6925 - root_mean_squared_error: 0.3450 - val_loss: 0.6937 - val_root_mean_squared_error: 0.3434 - 790ms/epoch - 13ms/step
Epoch 33/100
63/63 - 1s - loss: 0.6930 - root_mean_squared_error: 0.3453 - val_loss: 0.6937 - val_root_mean_squared_error: 0.3434 - 660ms/epoch - 10ms/step
Epoch 34/100
63/63 - 1s - loss: 0.6924 - root_mean_squared_error: 0.3449 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 542ms/epoch - 9ms/step
Epoch 35/100
63/63 - 1s - loss: 0.6930 - root_mean_squared_error: 0.3454 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3433 - 565ms/epoch - 9ms/step
Epoch 36/100
63/63 - 1s - loss: 0.6924 - root_mean_squared_error: 0.3449 - val_loss: 0.6937 - val_root_mean_squared_error: 0.3434 - 573ms/epoch - 9ms/step
Epoch 37/100
63/63 - 1s - loss: 0.6926 - root_mean_squared_error: 0.3451 - val_loss: 0.6937 - val_root_mean_squared_error: 0.3434 - 503ms/epoch - 8ms/step
Epoch 38/100
63/63 - 1s - loss: 0.6925 - root_mean_squared_error: 0.3450 - val_loss: 0.6937 - val_root_mean_squared_error: 0.3434 - 599ms/epoch - 10ms/step
Epoch 39/100
63/63 - 1s - loss: 0.6918 - root_mean_squared_error: 0.3445 - val_loss: 0.6942 - val_root_mean_squared_error: 0.3437 - 548ms/epoch - 9ms/step
Epoch 40/100
63/63 - 0s - loss: 0.6925 - root_mean_squared_error: 0.3450 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3435 - 487ms/epoch - 8ms/step
Epoch 41/100
63/63 - 0s - loss: 0.6930 - root_mean_squared_error: 0.3454 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 489ms/epoch - 8ms/step
Epoch 42/100
63/63 - 1s - loss: 0.6923 - root_mean_squared_error: 0.3449 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3432 - 702ms/epoch - 11ms/step
Epoch 43/100
63/63 - 1s - loss: 0.6920 - root_mean_squared_error: 0.3446 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 629ms/epoch - 10ms/step
Epoch 44/100
63/63 - 1s - loss: 0.6924 - root_mean_squared_error: 0.3449 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3432 - 853ms/epoch - 14ms/step
Epoch 45/100
63/63 - 1s - loss: 0.6921 - root_mean_squared_error: 0.3447 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 1s/epoch - 20ms/step
Epoch 46/100
63/63 - 2s - loss: 0.6922 - root_mean_squared_error: 0.3448 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 2s/epoch - 35ms/step
Epoch 47/100
63/63 - 2s - loss: 0.6917 - root_mean_squared_error: 0.3444 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3434 - 2s/epoch - 36ms/step
Epoch 48/100
63/63 - 1s - loss: 0.6924 - root_mean_squared_error: 0.3449 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 1s/epoch - 19ms/step
Epoch 49/100
63/63 - 1s - loss: 0.6916 - root_mean_squared_error: 0.3443 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 1s/epoch - 21ms/step
Epoch 50/100
63/63 - 1s - loss: 0.6923 - root_mean_squared_error: 0.3449 - val_loss: 0.6937 - val_root_mean_squared_error: 0.3433 - 1s/epoch - 20ms/step
Epoch 51/100
63/63 - 1s - loss: 0.6917 - root_mean_squared_error: 0.3444 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3432 - 1s/epoch - 17ms/step
Epoch 52/100
63/63 - 1s - loss: 0.6919 - root_mean_squared_error: 0.3445 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3432 - 819ms/epoch - 13ms/step
Epoch 53/100
63/63 - 1s - loss: 0.6912 - root_mean_squared_error: 0.3441 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3432 - 827ms/epoch - 13ms/step
Epoch 54/100
63/63 - 1s - loss: 0.6923 - root_mean_squared_error: 0.3449 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3432 - 827ms/epoch - 13ms/step
Epoch 55/100
63/63 - 1s - loss: 0.6916 - root_mean_squared_error: 0.3443 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 779ms/epoch - 12ms/step
Epoch 56/100
63/63 - 1s - loss: 0.6911 - root_mean_squared_error: 0.3440 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3432 - 535ms/epoch - 8ms/step
Epoch 57/100
63/63 - 0s - loss: 0.6911 - root_mean_squared_error: 0.3440 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3434 - 467ms/epoch - 7ms/step
Epoch 58/100
63/63 - 0s - loss: 0.6913 - root_mean_squared_error: 0.3441 - val_loss: 0.6936 - val_root_mean_squared_error: 0.3433 - 454ms/epoch - 7ms/step
Epoch 59/100
63/63 - 0s - loss: 0.6906 - root_mean_squared_error: 0.3436 - val_loss: 0.6935 - val_root_mean_squared_error: 0.3433 - 418ms/epoch - 7ms/step
Epoch 60/100
63/63 - 0s - loss: 0.6913 - root_mean_squared_error: 0.3441 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 447ms/epoch - 7ms/step
Epoch 61/100
63/63 - 0s - loss: 0.6906 - root_mean_squared_error: 0.3437 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 458ms/epoch - 7ms/step
Epoch 62/100
63/63 - 1s - loss: 0.6906 - root_mean_squared_error: 0.3437 - val_loss: 0.6931 - val_root_mean_squared_error: 0.3429 - 515ms/epoch - 8ms/step
Epoch 63/100
63/63 - 0s - loss: 0.6904 - root_mean_squared_error: 0.3435 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 428ms/epoch - 7ms/step
Epoch 64/100
63/63 - 0s - loss: 0.6909 - root_mean_squared_error: 0.3438 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 439ms/epoch - 7ms/step
Epoch 65/100
63/63 - 0s - loss: 0.6911 - root_mean_squared_error: 0.3440 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 438ms/epoch - 7ms/step
Epoch 66/100
63/63 - 0s - loss: 0.6896 - root_mean_squared_error: 0.3429 - val_loss: 0.6929 - val_root_mean_squared_error: 0.3428 - 424ms/epoch - 7ms/step
Epoch 67/100
63/63 - 0s - loss: 0.6891 - root_mean_squared_error: 0.3426 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 472ms/epoch - 7ms/step
Epoch 68/100
63/63 - 0s - loss: 0.6897 - root_mean_squared_error: 0.3430 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 490ms/epoch - 8ms/step
Epoch 69/100
63/63 - 1s - loss: 0.6915 - root_mean_squared_error: 0.3443 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 507ms/epoch - 8ms/step
Epoch 70/100
63/63 - 0s - loss: 0.6901 - root_mean_squared_error: 0.3433 - val_loss: 0.6933 - val_root_mean_squared_error: 0.3431 - 440ms/epoch - 7ms/step
Epoch 71/100
63/63 - 0s - loss: 0.6900 - root_mean_squared_error: 0.3432 - val_loss: 0.6931 - val_root_mean_squared_error: 0.3429 - 425ms/epoch - 7ms/step
Epoch 72/100
63/63 - 0s - loss: 0.6896 - root_mean_squared_error: 0.3429 - val_loss: 0.6932 - val_root_mean_squared_error: 0.3430 - 412ms/epoch - 7ms/step
Epoch 73/100
63/63 - 0s - loss: 0.6896 - root_mean_squared_error: 0.3429 - val_loss: 0.6930 - val_root_mean_squared_error: 0.3429 - 446ms/epoch - 7ms/step
Epoch 74/100
63/63 - 0s - loss: 0.6883 - root_mean_squared_error: 0.3420 - val_loss: 0.6930 - val_root_mean_squared_error: 0.3429 - 447ms/epoch - 7ms/step
Epoch 75/100
63/63 - 0s - loss: 0.6902 - root_mean_squared_error: 0.3433 - val_loss: 0.6931 - val_root_mean_squared_error: 0.3430 - 479ms/epoch - 8ms/step
Epoch 76/100
63/63 - 0s - loss: 0.6896 - root_mean_squared_error: 0.3429 - val_loss: 0.6927 - val_root_mean_squared_error: 0.3427 - 493ms/epoch - 8ms/step
Epoch 77/100
63/63 - 0s - loss: 0.6881 - root_mean_squared_error: 0.3418 - val_loss: 0.6930 - val_root_mean_squared_error: 0.3429 - 460ms/epoch - 7ms/step
Epoch 78/100
63/63 - 0s - loss: 0.6892 - root_mean_squared_error: 0.3426 - val_loss: 0.6926 - val_root_mean_squared_error: 0.3426 - 483ms/epoch - 8ms/step
Epoch 79/100
63/63 - 1s - loss: 0.6898 - root_mean_squared_error: 0.3430 - val_loss: 0.6926 - val_root_mean_squared_error: 0.3426 - 636ms/epoch - 10ms/step
Epoch 80/100
63/63 - 1s - loss: 0.6900 - root_mean_squared_error: 0.3432 - val_loss: 0.6926 - val_root_mean_squared_error: 0.3426 - 554ms/epoch - 9ms/step
Epoch 81/100
63/63 - 0s - loss: 0.6885 - root_mean_squared_error: 0.3421 - val_loss: 0.6927 - val_root_mean_squared_error: 0.3427 - 459ms/epoch - 7ms/step
Epoch 82/100
63/63 - 0s - loss: 0.6881 - root_mean_squared_error: 0.3418 - val_loss: 0.6928 - val_root_mean_squared_error: 0.3428 - 483ms/epoch - 8ms/step
Epoch 83/100
63/63 - 0s - loss: 0.6888 - root_mean_squared_error: 0.3423 - val_loss: 0.6927 - val_root_mean_squared_error: 0.3426 - 427ms/epoch - 7ms/step
Epoch 84/100
63/63 - 0s - loss: 0.6878 - root_mean_squared_error: 0.3416 - val_loss: 0.6927 - val_root_mean_squared_error: 0.3427 - 459ms/epoch - 7ms/step
Epoch 85/100
63/63 - 0s - loss: 0.6885 - root_mean_squared_error: 0.3421 - val_loss: 0.6929 - val_root_mean_squared_error: 0.3428 - 412ms/epoch - 7ms/step
Epoch 86/100
63/63 - 0s - loss: 0.6881 - root_mean_squared_error: 0.3418 - val_loss: 0.6926 - val_root_mean_squared_error: 0.3426 - 410ms/epoch - 7ms/step
Epoch 87/100
63/63 - 0s - loss: 0.6889 - root_mean_squared_error: 0.3424 - val_loss: 0.6930 - val_root_mean_squared_error: 0.3429 - 431ms/epoch - 7ms/step
Epoch 88/100
63/63 - 0s - loss: 0.6897 - root_mean_squared_error: 0.3430 - val_loss: 0.6927 - val_root_mean_squared_error: 0.3427 - 451ms/epoch - 7ms/step
Epoch 89/100
63/63 - 1s - loss: 0.6876 - root_mean_squared_error: 0.3415 - val_loss: 0.6933 - val_root_mean_squared_error: 0.3431 - 525ms/epoch - 8ms/step
Epoch 90/100
63/63 - 0s - loss: 0.6889 - root_mean_squared_error: 0.3424 - val_loss: 0.6927 - val_root_mean_squared_error: 0.3427 - 498ms/epoch - 8ms/step
Epoch 91/100
63/63 - 0s - loss: 0.6881 - root_mean_squared_error: 0.3419 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3435 - 425ms/epoch - 7ms/step
Epoch 92/100
63/63 - 0s - loss: 0.6852 - root_mean_squared_error: 0.3398 - val_loss: 0.6930 - val_root_mean_squared_error: 0.3429 - 440ms/epoch - 7ms/step
Epoch 93/100
63/63 - 0s - loss: 0.6880 - root_mean_squared_error: 0.3418 - val_loss: 0.6940 - val_root_mean_squared_error: 0.3436 - 441ms/epoch - 7ms/step
Epoch 94/100
63/63 - 0s - loss: 0.6875 - root_mean_squared_error: 0.3414 - val_loss: 0.6929 - val_root_mean_squared_error: 0.3429 - 455ms/epoch - 7ms/step
Epoch 95/100
63/63 - 0s - loss: 0.6878 - root_mean_squared_error: 0.3417 - val_loss: 0.6934 - val_root_mean_squared_error: 0.3432 - 465ms/epoch - 7ms/step
Epoch 96/100
63/63 - 0s - loss: 0.6879 - root_mean_squared_error: 0.3417 - val_loss: 0.6929 - val_root_mean_squared_error: 0.3429 - 424ms/epoch - 7ms/step
Epoch 97/100
63/63 - 0s - loss: 0.6871 - root_mean_squared_error: 0.3412 - val_loss: 0.6939 - val_root_mean_squared_error: 0.3435 - 427ms/epoch - 7ms/step
Epoch 98/100
63/63 - 0s - loss: 0.6876 - root_mean_squared_error: 0.3415 - val_loss: 0.6933 - val_root_mean_squared_error: 0.3432 - 403ms/epoch - 6ms/step
Epoch 99/100
63/63 - 0s - loss: 0.6856 - root_mean_squared_error: 0.3401 - val_loss: 0.6956 - val_root_mean_squared_error: 0.3447 - 463ms/epoch - 7ms/step
Epoch 100/100
63/63 - 0s - loss: 0.6869 - root_mean_squared_error: 0.3410 - val_loss: 0.6931 - val_root_mean_squared_error: 0.3430 - 428ms/epoch - 7ms/step

In [18]:
user_id = df_tourism_rating['User_Id'].sample(1).iloc[0]
place_visited = df_tourism_rating[df_tourism_rating['User_Id'] == user_id]
place_visited.head()

      User_Id  Place_Id  Place_Ratings
8357      252       145              3
8358      252       114              1
8359      252       328              1
8360      252       169              3
8361      252       200              1

In [19]:
place_not_visited = df_tourism[~df_tourism['Place_Id'].isin(place_visited['Place_Id'])]['Place_Id']
place_not_visited = list(set(place_not_visited).intersection(set(place_id_encoded.keys())))
place_not_visited = [[place_id_encoded.get(x)] for x in place_not_visited]
user_encoder = user_id_encoded.get(user_id)
user_place_array = np.hstack(([[user_encoder]] * len(place_not_visited), place_not_visited))

In [20]:
ratings = model.predict(user_place_array).flatten()

 1/13 [=>............................] - ETA: 2s

13/13 [==============================] - 0s 5ms/step

In [21]:
top_ratings_indices = ratings.argsort()[-10:][::-1]
recommended_place_ids = [place_id_encoded.get(place_not_visited[x][0]) for x in top_ratings_indices]

In [22]:
print('Showing recommendations for user: {}'.format(user_id))
print('===' * 9)
print('Places with high ratings from user')
print('---' * 8)
top_ratings_place = (place_visited.sort_values(by='Place_Ratings', ascending=False).head(5)['Place_Id'].values)
df_tourism_rows = df_tourism[df_tourism['Place_Id'].isin(top_ratings_place)]
for row in df_tourism_rows.itertuples():
  print(row.Place_Name)
print('---' * 8)
print('Top 10 place recommendations')
print('---' * 8)
recommended_place = df_tourism[df_tourism['Place_Id'].isin(recommended_place_ids)]
for row in recommended_place.itertuples():
  print(row.Place_Name)
print('---' * 8)

Showing recommendations for user: 252
===========================
Places with high ratings from user
------------------------
Galeri Nasional Indonesia
Museum Sasmita Loka Ahmad Yani
Alun-alun Utara Keraton Yogyakarta
Grojogan Watu Purbo Bangunrejo
Pasar Baru
------------------------
Top 10 place recommendations
------------------------
Museum Fatahillah
Puncak Pinus Becici
Puncak Kebun Buah Mangunan
Hutan Pinus Asri
Pintoe Langit Dahromo
Museum Pos Indonesia
Wisata Mangrove Tapak
Waduk Jatibarang
Masjid Muhammad Cheng Hoo
Monumen Jalesveva Jayamahe
------------------------

In [23]:
model.save('model.h5')

NotImplementedError: Saving the model to HDF5 format requires the model to be a Functional model or a Sequential model. It does not work for subclassed models, because such models are defined via the body of a Python method, which isn't safely serializable. Consider saving to the Tensorflow SavedModel format (by setting save_format="tf") or using `save_weights`.